<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
    <style media="screen">
        .blueColor {
            color: blue;
        }

        .f {
            font-size: 25px;
        }

    </style>
</head>

<body>

    <div id="mvvm-app">
        <input type="text" v-model="someStr">
        <input type="text" v-model="child.someStr">
        <p v-class="blueColor" class="f">
            <span v-text="child.someStr"></span>
        </p>
        <p v-text="child.someStr"></p>
        <p class="getHelloWord">{{getHelloWord}}</p>
        <p class="">{{test.message}}</p>
        <p v-html="htmlStr"></p>
        <button v-on:click="clickBtn">change model</button>
    </div>

    <!-- <script src="http://cdn.bootcss.com/vue/1.0.25/vue.js"></script> -->
    <script src="./js/observer.js"></script>
    <script src="./js/watcher.js"></script>
    <script src="./js/compile.js"></script>
    <script src="./js/mvvm.js"></script>
    <script>
        var vm = new MVVM({
            el: '#mvvm-app',
            data: {
                someStr: 'hello ',
                blueColor: 'blueColor',
                htmlStr: '<span style="color: #f00;">red</span>',
                child: {
                    someStr: 'World !'
                },
                test: {
                    message: 'this is message'
                }
            },

            computed: {
                getHelloWord: function () {
                    // console.log('getHelloWord----------------', this.someStr + this.test.message)
                    return this.someStr + this.test.message;
                }
            },

            methods: {
                clickBtn: function (e) {
                    console.log('clickBtn...')
                    var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                    // this.someStr = randomStrArr[parseInt(Math.random() * 3)];
                    this.className = randomStrArr[parseInt(Math.random() * 3)];
                    this.test.message = randomStrArr[parseInt(Math.random() * 3)];
                    // this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
                }
            }
        });

        vm.$watch('test.message', function (newVal, oldVal) {
            console.log(`test.message,新值:${newVal},旧值:${oldVal}`);
        });

        // console.log('----------------------字符串-------------------------')
        // console.log(`someStr改变前:${vm.someStr}`)
        // vm.someStr = 'we'
        // console.log(`someStr改变后:${vm.someStr}`)
        //
        // console.log('------------------------对象-----------------------')
        //
        // console.log(`child.someStr改变前:${vm._data.child.someStr}`)
        // vm._data.child.someStr = 'koa'
        // console.log(`child.someStr改变后:${vm._data.child.someStr}`)

        // console.log('----------------------新对象-------------------------')
        // console.log(`className改变前:${vm._data.className}`)
        // vm.className = {
        //     test: 'kk'
        // }
        // console.log(`className改变后:${vm._data.className.test}`)
        // console.log(`someStr----:${vm.someStr}`)

    </script>

</body>

</html>
